<html>

{{template "sharedHtmlLinks" .}}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
{{template "style" .}}
</style>

<head>
<title>Join game</title>
</head>

<body>

{{template "sharedHtmlHeader" .}}

<h2>Join {{.GameId}}</h2>
<form method="POST" action="/join">
  Enter a username:
  <br><input type="text" name="username" maxlength=16 pattern="[a-zA-Z0-9]+"
      autocapitalize=none autocorrect=false>
  <input type="submit" value="join">
</form>

<!-- listing players here would be nice so players know what names are taken -->
</body>

</html>
