<html>

{{template "sharedHtmlLinks" .}}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
{{template "style" .}}
</style>

<head> <title>Play superghost</title> </head>

<body>

{{template "sharedHtmlHeader" .}}

<div class="wrapper">

<div class="forms">

<h2 id=statusSpan>Status</h2>

<form method="POST" action="/word" id="affixForm">
  <fieldset id="affixFieldSet" disabled=true>
    <input type="text" id="prefixText" name="prefix" maxlength="1" size="1"
        pattern="[a-z]" autocorrect="off" autocapitalize="none">
    <span id=wordSpan></span>
    <input type="text" id="suffixText" name="suffix" maxlength="1" size="1"
        pattern="[a-z]" autocorrect="off" autocapitalize="none">
    <br><input type=submit id=affixButton value="affix letter">
  </fieldset>
</form>

<form method="POST" action="/rebuttal" id="rebutForm">
  <fieldset id=rebutFieldSet disabled>
    <input type=text name=continuation placeholder="Enter your continuation"
        pattern="^[a-z]+" autocorrect=off autocapitalize=none>
    <br><button type=submit id=rebutButton>rebut</button>
    <button type=button id=concedeButton>concede</button>
  </fieldset>
</form>

<form method="POST" action="/challenge-is-word" id="challengeForm">
  <span id=orChallenge>or challenge:</span>
	<fieldset id=challengeFieldSet disabled=true>
		<button type=button  id=isWordButton>this is a word</button>
		<br><button type=button id=noContinuationButton>there's no continuation</button>
	</fieldset>
</form>

<span id=lastRoundResultSpan></span>

</div> <!--forms-->

<div class="players">

<h2>Players</h2>
<ul id="playerList"></ul>

</div>

</div> <!--wrapper-->

</body>

<script>
{{template "script" .}}
</script>

</html>
