{{define "sharedHtmlLinks"}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap" rel="stylesheet">
{{end}}

{{define "sharedHtmlHeader"}}
<header>
<h1>
<span class="logoThin">super</span><span class="logoThick">g.host</span>
</h1>
</header>
{{end}}
