{{define "style"}}

* {
  font-family: 'Nunito', sans-serif;
}

#wordSpan, #prefixText, #suffixText {
  font-family: 'Georgia', serif;
  font-size: 24;
}

fieldset {
  border: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto;
  height: 80vh;
  border: none;
}

.players {
  grid-column: 1;
  text-align: right;
  padding: 20px;
  border: none;
}

.forms {
  padding: 20px;
  grid-column: 2;
  grid-row: 1/-1;
  text-align: center;
  border: 1px solid;
}

input, button, .playerListItem {
  margin: 5px;
  border: 1px solid;
  padding: 5px;
  border-radius: 8px;
  background: white;
  box-shadow: 2px 2px;
}

#playerList {
  padding: 0px;
  direction: rtl;
}
.playerListItem {
  list-style: none;
  list-style-position: inside;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
  margin-left: 0px;
}
input[type=text] {
  border-radius: 0px;
  box-shadow: 0px 0px;
  border: none;
  border-bottom: 1px dotted;
}

#prefixText, #suffixText, #wordSpan {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.logoThin{
  font-weight: 200;
}

@media (max-width: 768px) {
  .wrapper {
    display: block;
  }
  .players {
  }

  .forms {
    grid-column: 1/-1;
    grid-row: 1;
  }
}

{{end}}
