<html>

<head>
<title>Superghost test</title>
</head>

<body>

<h>Word Editor</h>
<form method="PUT"
      action="/word"
      onsubmit="return replaceWord(this);"
      id="replaceWordForm">
  <input type="text" id="editorText" name="newWord">
  <input type="submit" id="editorSubmit" value="replace word">
  </br>current word: <span id="word"></span>
</form>

<h>Challenge Invoker</h>
<form method="POST"
      action="/challenges"
      onsubmit="return challenge(this);"
      id="challengeForm">
  <input type="submit" id="challengeSubmit" value="issue challenge">
  </br>result: <span id="challengeResult"></span>
</form>

<h>Rebuttal Editor</h>
<form method="POST"
      action="/rebuttals"
      onsubmit="return rebut(this);"
      id="rebuttalForm">
  <input type="text" id="rebuttalText" name="continuation">
  <input type="submit" id="rebuttalSubmit" value="rebut">
</form>

</body>

<script>

function replaceWord(form) {
  var xhr = new XMLHttpRequest()
  xhr.onload = function () {
    document.getElementById("word").innerHTML = xhr.responseText
  }
  xhr.open("PUT", "/word")
  xhr.send(new URLSearchParams(new FormData(form)))
  form.reset()

  return false
}

function challenge(form) {
  var xhr = new XMLHttpRequest()
  xhr.open("POST", "/challenges")
  xhr.send()

  return false
}

function rebut(form) {
  var xhr = new XMLHttpRequest()
  xhr.onload = function () {
    form.reset()
  }
  xhr.open("POST", "/rebuttals")
  xhr.send(new URLSearchParams(new FormData(form)))

  return false
}

function awaitChallenge() {
  var xhr = new XMLHttpRequest()
  xhr.onload = enterRebutMode
  xhr.open("GET", "/challenges")
  xhr.send()

  return false
}

function awaitRebuttal() {
  var xhr = new XMLHttpRequest()
  xhr.onload = function () {
    document.getElementById("challengeResult").innerHTML = xhr.responseText
    enterEditMode()
  }
  xhr.open("GET", "/rebuttals")
  xhr.send()

  return false
}

function enterRebutMode() {
  document.getElementById("editorText").disabled = true
  document.getElementById("editorSubmit").disabled = true
  document.getElementById("challengeSubmit").disabled = true

  document.getElementById("rebuttalText").disabled = false
  document.getElementById("rebuttalSubmit").disabled = false

  awaitRebuttal()
}

function enterEditMode() {
  document.getElementById("editorText").disabled = false
  document.getElementById("editorSubmit").disabled = false
  document.getElementById("challengeSubmit").disabled = false

  document.getElementById("rebuttalText").disabled = true
  document.getElementById("rebuttalSubmit").disabled = true

  awaitChallenge()
}

enterEditMode()

</script>

</html>
