<html>

<head>
<title>Join game</title>
</head>

<body>

<header>
<h1>superghost</h1>
</header>

<h2>Join</h2>
<form method="POST" action="/join">
  Enter a username: <input type="text" name="username">
  <input type="submit" value="join">
</form>

<!-- listing players here would be nice so players know what names are taken -->
</body>

</html>
