<html>

<head>
<title>Superghost test</title>
</head>

<body>

<form method="POST"
      action="/word"
      onsubmit="return affixLetterAndResetForm(this);"
      id="affixLetterForm">
  <input type="text" name="prefix" maxlength="1" size="1">
  <span id="word"></span>
  <input type="text" name="suffix" maxlength="1" size="1">
  <input type="submit" value="submit">
</form>

<form method="GET"
      action="/is-word"
      onsubmit="return validateWord(this);"
      id="validateWordForm">
  <input type="submit" value="validate word">
  ➡️
  <span id="validationResult">nil</span>
</form>

</body>

<script>
function longPollWord () {
  var xhr = new XMLHttpRequest()
  xhr.onload = function () {
    document.getElementById("word").innerHTML = xhr.responseText
    longPollWord()
  }
  xhr.open("GET", "/next-word")
  xhr.send()
}

function getWord () {
  var xhr = new XMLHttpRequest()
  xhr.onload = function () {
    document.getElementById("word").innerHTML = xhr.responseText
    longPollWord()
  }
  xhr.open("GET", "/word")
  xhr.send()
}

function affixLetterAndResetForm (form) {
  var xhr = new XMLHttpRequest()
  xhr.onload = function () {
    document.getElementById("word").innerHTML = xhr.responseText
  }
  xhr.open("POST", "/word")
  xhr.send(new URLSearchParams(new FormData(form)))
  form.reset()

  return false
}

function validateWord(form) {
  var xhr = new XMLHttpRequest()
  xhr.onload = function () {
    document.getElementById("validationResult").innerHTML = xhr.responseText
  }
  xhr.open("GET", "/is-word")
  xhr.send(new URLSearchParams(new FormData(form)))
  form.reset()

  return false
}

getWord()
longPollWord()
</script>

</html>
