<html>

<head>
<title>Join game</title>
</head>

<body>

<form method="POST"
      action="/join"
      onsubmit="return affixLetterAndResetForm(this);"
      id="joinGameForm">
  username: <input type="text" name="username">
  <input type="submit" value="join">
</form>

</body>

</html>
